
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

 
     <!-- Photo Tab -->
  <ion-tab title=Photos icon-off="ion-ios-camera" icon-on="ion-ios-camera" href="#/tab/photos">
    <ion-nav-view name="tab-photos"></ion-nav-view>
  </ion-tab>
  
  
    <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profileMain"></ion-nav-view>
  </ion-tab>
  
  
  
    <!-- Tracker Tab -->
  <ion-tab title="Tracker" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/tab/tracker">
    <ion-nav-view name="tab-tracker"></ion-nav-view>
  </ion-tab>
  
  
  
  <!-- Signout Tab -->
  <ion-tab title="Signout" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/login">
    <ion-nav-view name="tab-signout"></ion-nav-view>
  </ion-tab>


</ion-tabs>
